.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .back-to-top.show {
    opacity: 1;
    transform: scale(1);
  }
  
  .back-to-top:hover {
    transform: scale(1.1);
  }
  